<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Relatório de Vendas</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <h1 class="mt-3 d-flex justify-content-center">{{title}}</h1>
            <!-- <table class="mt-5 table" v-if="salesByProduct">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(sale,index) in salesByProduct">
                        <td>#{{index+1}}</td>
                        <td>{{sales.nome}}</td>
                        <td v-model="R$">{{sales.value}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>+</td>
                        <td>Total</td>
                        <td v-model="'R$'">{{calculateTotal(salesByProduct)}}</td>
                    </tr>
                </tfoot>

            </table> -->

            <table class="mt-5 table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Qtde</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sales in sales">
                        <td>{{sales.id}}</td>
                        <td>{{sales.name}}</td>
                        <td v-money="'R$'">{{sales.price}}</td>
                        <td>{{sales.qtde}}</td>
                        <td>{{sales.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
       Vue.directive('money',{
            inserted(el,binding){
                const amount = parseFloat(el.innerHTML).toFixed(2).replace('.',',')
                .replace(/(\d)(?=(\d{3})+\,)/g,'$1.')
                el.innerHTML = `${binding.value} ${amount}`

            }
       })
       
       new Vue({
           
        el:"#app",
           data:{
               title:'Relatótio de vendas',
               sales:null
           },
           methods:{
               getSales(){
                   fetch('/data/sales.json')
                   .then(resp=>resp.json())
                   .then(data=>this.sales = data)

               },
               calculateTotal(sales){
                   if(!sales) return 0
                   return sales.reduce((total,sales)=> total+ sales.value,0) 
               }
           },
           computed:{
                salesByProduct(){
                    if(!this.sales) return null

                    const salesByProduct = this.sales.reduce((grouped,sales)=>{
                        if(!grouped.hasOwnProperty(sales.name)){
                           grouped[sales.name] = {
                               name: sales.name,
                               value: sales.price * sales.qtde
                           } 
                           return grouped
                        }

                        grouped[sales.name].value += sales.price * sales.qtde
                        return grouped
                    },{})
                    return Object.values(salesByProduct)
                }
           },
        // mounted é chamado quando a Vue instance está carregada, ou seja, montada
           mounted(){
               this.getSales()
           }
       })
    </script>
</body>

</html>